{% extends "layouts/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Contact{% endblock %}

{% block content %}
<style>
a{
        color: #FF8C00;
}

.breadcrumb {
    background-color: #FFF !important;
}
.btn-primary {
    color: #fff;
    background-color: #FF7F50;
    border-color: #FF7F50;
}

</style>
<!-- reCAPTCHA API -->
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
<script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/contact/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  </script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">ติดต่อ</li>
    </ol>
  </nav>
<div class="mtset">
<h3 align="center">Contact</h3>

<div class="row ">
    <div class="col-lg-6 offset-lg-3">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
             <!-- reCAPTCHA input -->
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"> 
            <button type="submit" class="btn btn-primary">SEND</button>
        </form>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
<script>
    $("#closee").click(function(){
        $('#closee').hide();
})
</script>
<br><br>
{% endblock %}