{% extends "layouts/base.html" %}
{% load humanize %}

{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    .t{
        height: 450px;
    }
    .mtop{
        margin-top: 180px;
    }
    .centerpagination{
        align-items: center;
    }
    .page-link{
        color: chocolate;
    }
    .texalign{
        text-align: center;
    }
    .mtset{
        margin-top: 40px;
    }
    a{
        color: #FF7F50;
    }
    .active{
        color: #FF7F50
    }
    .bgt{
        color: #FF7F50;
    }
    .list-group-item.active {
        background-color: #FF7F50 !important;
        border-color: #FF7F50 !important;
    }
   
    .filter_by{
        margin-left: 20px;
    }
    .btn-info:hover {
        color: #fff;
        background-color: #FFA07A !important;
        border-color: #FFA07A !important;
    }
    .btn-info {
        color: #fff;
        background-color: #FF7F50 ;
        border-color: #FF7F50 ;
    }
   
</style>
    <div class="row mtset">
        <div class="col-lg-2">
            <div class="list-group">
                <a href="{% url 'home' %}" class="list-group-item bgt list-group-item-action {% if not cate_id %}active{% endif %}" >
                  หมวดหมู่สินค้าทั้งหมด
                </a>
                {% for c in categories %}
                    <a href="{% url 'home' %}?category={{ c.id }}" class="list-group-item bgt list-group-item-action {% if cate_id|add:0 == c.id %}active{% endif %}">{{ c.c_name }}</a>
                {% endfor %}
            </div>
            <br>
            <div class="col-sm mt-4">
                <a class="filter_by" href="?sort=h2l">เรียงราคาจากมากไปน้อย</a>&nbsp;<i class="fa fa-arrow-circle-up" style="color: #FF7F50;"></i><br>
                <a class="filter_by" href="?sort=l2h">เรียงราคาจากน้อยไปมาก</a>&nbsp;<i class="fa fa-arrow-circle-down" style="color: #FF7F50;"></i>
            </div>
        </div>

        <div class="col-lg-10">
            <h5>รายการสินค้าแนะนำ</h5>
            <div class="row">
                {% for pr in productrecommend %}
                <div class="col-lg-3 mt-4">
                    <div class="card t">
                        {% if pr.p_image %}
                        <a href="{% url 'productdetail' slug=pr.p_slug %}">
                            <img src="{{ pr.p_image.url }}" alt="" class="card-img-top" height="230" width="200">
                        </a>
                        {% else %}
                        <br><span class="texalign">ขออภัยไม่มีรูปภาพแสดง</span>
                        <div class="mtop"></div>
                        {% endif %}
                        <div class="card-body">
                            <h5><a href="{% url 'productdetail' slug=pr.p_slug %}">ชื่อสินค้า : {{ pr.p_name }}</a></h5>
                            <div>หมวดหมู่สินค้า : {{ pr.p_category.c_name }}</div>
                            <div>ราคาสินค้า : {{ pr.p_price|floatformat:2|intcomma }}</div>
                            <a href="{% url 'productdetail' slug=pr.p_slug %}" class="btn btn-info mt-4">รายละเอียดสินค้า</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
                <hr>
            <h5>รายการสินค้า</h5>

            <div class="row">
                {% for p in products %}
                <div class="col-lg-3 mt-4">
                    <div class="card t">
                        {% if p.p_image %}
                        <a href="{% url 'productdetail' slug=p.p_slug %}">
                            <img src="{{ p.p_image.url }}" alt="" class="card-img-top" height="230" width="200">
                        </a>
                        {% else %}
                        <br><span class="texalign">ขออภัยไม่มีรูปภาพแสดง</span>
                        <div class="mtop"></div>
                        {% endif %}
                        <div class="card-body">
                            <h5><a href="{% url 'productdetail' slug=p.p_slug %}">ชื่อสินค้า : {{ p.p_name }}</a></h5>
                            <div>หมวดหมู่สินค้า : {{ p.p_category.c_name }}</div>
                            <div>ราคาสินค้า : {{ p.p_price|floatformat:2|intcomma }}</div>
                            <a href="{% url 'productdetail' slug=p.p_slug %}" class="btn btn-info mt-4">รายละเอียดสินค้า</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <ul class="pagination mt-4">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                {% endif %}

                {% for i in products.paginator.page_range %}
                    <li class="page-item {% if products.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                {% endfor %}

                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>
            
        </div>
        
    </div>

    
{% endblock %}